<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>oauthRedirectURI</key>
	<string>sfdc://success</string>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9SemV5D80oBcXZ2EUzbcJwyxMQB2Ic1v9KoF.b_5MHwWr0vdL1KHab1VQ_Kj1ACXIRRYEEOYlCmjUltGy</string>
</dict>
</plist>
