<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>oauthRedirectURI</key>
	<string>testsfdc:///mobilesdk/passcode/</string>
	<key>remoteAccessConsumerKey</key>
    <string>3MVG9SemV5D80oBcXZ2EUzbcJw55wUaPgferCZS0NA58q0N.PWbIpYMjjZ9P.y_0dC6_1lBSBPy69Z96c7XFM</string>
</dict>
</plist>
