<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9k02hQhyUgQAw2zA.WnY2a1OjKAvbDCqjDuhxw_qynXjVxnlfdH5E3vbmah3IsKbyAu3_HkwvsuhF5pxS</string>
	<key>oauthRedirectURI</key>
	<string>playground://sfdc/done</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
		<string>sfap_api</string>
	</array>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
