<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9SemV5D80oBcXZ2EUzbcJwwLciA635iQNoqfp.UUuxWpBqgN1C7lLOJcZVCSgFK8iF8nR0atddqxCk19l</string>
	<key>oauthRedirectURI</key>
	<string>com.salesforce.mobilesdk.sample.restapiexplorer://oauth/success</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
