<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9SemV5D80oBcXZ2EUzbcJw6PYhcjhksJQdfIJ1TpMJhSVsXL0KNQOeysKrDIGiNFq9.FwI6KW.5YuxBxJ</string>
	<key>oauthRedirectURI</key>
	<string>testsfdc:///mobilesdk/passcode/nobio</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
